
<div class="autent">
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username] %>
  </div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  	<br><input class="btn btn-primary" type="submit" value="Autenticar">
<% end %>
<a class="btn btn-inverse" href=<%=root_url%>><i class="icon-arrow-left icon-white"></i> Atrás </a>
</div>