<div class="inicio">
	<h1 class="titulo">Notificaciones</h1><br>
</div>

<div class="tabla">
<ol>
	<% if @notifications %>
		<table class="table table-striped">
		  <thead>
			  <tr>
				  <th>Descripción</th>
				  <th>De</th>
				  <th></th>
				  <th></th>
				  <th></th>
				</tr>
			</thead>
			<% @notifications.each do |noti|%>
			<tbody>
			  <tr>
				  <td><strong><%= (noti.description + (!noti.leido ? " (Nuevo)" : "" )) %></strong></td>
				  <td><strong><%= "#{User.find(noti.user_id).username}" %></strong></td>
					<td><a class="btn btn-info" href=<%=notification_path(noti.id)%>><i class="icon-search icon-white"></i> Ver </a></td>
					<td><a class="btn btn-danger" data-confirm="Estás Seguro?" data-method="delete" href=<%=notification_path(noti) %>><i class="icon-trash icon-white"></i> Borrar </a></td>
				</tr>
			</tbody>
			<%end%>
		</table>
	<%end%>
</ol>

<br />
<br>
<a class="btn btn-inverse" href=<%=user_path(current_user.id)%>><i class="icon-arrow-left icon-white"></i> Atrás </a>
<a class="btn btn-primary" href=<%=new_book_path%>> Agregar Libro </a><br>

</div>
<div class="final"><br></div>