<p>
	<p>De: <%= "#{User.find(@notification.user_id).username}" %></p>
	<p>Asunto: <%= @notification.description %></p>
	<% if @notification.tipo == 1 %>
		<p>El usuario <%= User.find(@notification.user_id).username %> desea que le prestes el libro <%= Book.find(@notification.book_id).titulo %>
		</p>
		<% if Book.find(@notification.book_id).disponibilidad %>
			<%= simple_form_for @book do |f| %>
				<%= "Deseas Prestarle el Libro?" %>
	  		<%= f.collection_radio_buttons :disponibilidad,[[false, 'Si'],[true, 'No']], :first, :last, :checked => true %>
	  		<%= hidden_field_tag(:user_pres, @notification.user_id) %>
	  		<%= hidden_field_tag(:noti, true) %>
		  	<%= f.submit 'Aceptar'%>
			<% end %>
		<% else %>
			<%= "No puedes prestar este libro porque ya lo tiene el usuario #{User.find(Book.find(@notification.book_id).user_id).username}!" %>
		<% end %>

	<%else%>
		<% if @notification.tipo == 2 %>
			<p>El usuario <%= User.find(@notification.user_id).username %> te devolvió el libro <%= Book.find(@notification.book_id).titulo %>?
			</p>
			<%= simple_form_for @book do |f| %>
		  	<%= f.collection_radio_buttons :disponibilidad,[[true, 'Si'],[false, 'No']], :first, :last, :checked => true %>
		  	<%= hidden_field_tag(:user_pres, 0) %>
		  	<%= hidden_field_tag(:noti, true) %>
			 	<%= f.submit 'Aceptar'%>
			<% end %>
		<% end %>
	<% end %>
</p>
