<p>
	<p>De: <%= "#{User.find(@notification.user_id).username}" %></p>
	<p>Asunto: <%= @notification.description %></p>
	<% if @notification.tipo == 1 %>
		<p>El usuario <%= User.find(@notification.user_id).username desea que le prestes %>
			<%= el libro Book.find(@notification.book_id).titulo %>
		</p>
		<% if Book.find(@notification.book_id).disponibilidad %>
			<%= simple_form_for @book do |f| %>
				<%= "Deseas Prestarle el Libro?" %>
	  		<%= f.collection_radio_buttons :disponibilidad,[[true, 'Si'],[false, 'No']], :first, :last, :checked => true %>
		  	<%= f.submit %>
			<% end %>
		<% else %>
			<%= "No puedes prestar este libro porque ya lo tiene el usuario #{User.find(Book.find(@notification.book_id).user_id).username}!" %>
		<% end %>
	<% end %>
</p>
<% end %>
