

<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :nombre %>
  </div>
  <div class="field">
    <%= f.input :apellido %>
  </div>
  <div class="field">
    <%= f.input :sexo, :as => :radio_buttons %>
  </div>
  <div class="field">
    <%= f.input :fecha_nac, :as => :date, :start_year => Date.today.year - 90,
					:end_year => Date.today.year - 12, 
          :order => [:month, :year] %>
  </div>
  <div class="field">
    <%= f.input :username %>
  </div>
  <div class="field">
    <%= f.input :email %>
  </div>
  <div class="field">
    <%= f.input :password %>
  </div>
   <div class="field">
    <%= f.input :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
