
<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :nombre %>
  <%= f.input :apellido %>
  <%= f.label :sexo%>
  <%= f.collection_radio_buttons :sexo, [[true, 'Hombre'] ,[false, 'Mujer']], :first, :last, :checked => true %>
  <%= f.input :fecha_nac, :label =>'Fecha de Nacimiento', :as => :date, :start_year => Date.today.year - 90,
	   			:end_year => Date.today.year - 12, 
          :order => [:day, :month, :year] %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <input class="btn btn-primary" type="submit" value="Listo!">
<% end %>
<a class="btn btn-inverse" href=<%=users_path%>><i class="icon-arrow-left icon-white"></i> Atrás </a>