<p id="notice"><%= notice %></p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', users_path %>
	<%= simple_form_for @comment do |f| %>
		<%= "Agregue un comentario acerca de este usuario!" %>
 		<%= f.input :contenido, :as => :text %>
 		<%= hidden_field_tag(:perfil, @user.id) %>
 		<%= f.submit %>
	<% end %>
<%(Comentario.where perfil: @user.id).sort{|x,y| x.created_at <=> y.created_at}.each do |comment|%>
	<ul id="comment_list">
<<<<<<< HEAD
		<li><p><h4><%= "#{comment.user} escribió:" %></h4></p></li>
		<p><h4><%= comment.contenido %></h4></p>
	</ul>
<% end %>
=======
		<li><p><h4><%= "#{User.find(comment.user_id).username} escribió:" %></h4></p></li>
		<p><h4><%= comment.contenido %></h4></p>
	</ul>
<% end %>
>>>>>>> 2c05d65856763c0beb1797f8206b8c873954ccdb
