

<%=simple_form_for @book do |f|%>
		
	<% if @book.errors.any?%>
		<h2>There were errors!</h2>
		<ul>
			<% @book.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	<%end%>

	<p>
		<%=f.input :titulo %>
		<%=f.input :autor %>
		<%=f.input :tipo %>
		<%=f.input :edicion %>
		<%=f.input :descripcion %>
		<%= f.collection_radio_buttons :prestamo, [[true, 'Dias'] ,[false, 'Meses']], :first, :last, :checked => true %>
		<%=f.input :t_prestamo, :as => :integer %>
	</p>
	
	<p>
		<%=f.submit %>
	</p>
	
<%end%>
