<%=simple_form_for @book do |f|%>
	<% if @book.errors.any?%>
		<div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
			<h3>There were errors!</h3>
			<% @book.errors.full_messages.each do |msg| %>
				<%= msg %><br>
			<% end %>
		</div>
	<%end%>

	<p>
		<%=f.input :titulo %>
		<%=f.input :autor %>
		<%=f.input :tipo %>
		<%=f.input :edicion %>
		<%=f.input :descripcion %>
		<%= f.collection_radio_buttons :prestamo, [[true, 'Dias'] ,[false, 'Meses']], :first, :last, :checked => true %>
		<%= hidden_field_tag(:noti, false) %>
		<%=f.input :t_prestamo, :as => :integer %>
	</p>
	
	<p>
		<%=f.submit %>
	</p>
	
<%end%>
