

<ol>
  <% @books.each do |book|%>
    <li>
      	<%= book.titulo %>
		<%= book.autor %>
      	<%= link_to "show code", code %>
      	<%= link_to "delete", book, :method => :delete, :confirm => "Esta Seguro?" %>
   </li>
  <% end %>
</ol>
<a class="btn btn-inverse" href=<%=new_book_path%>> Agregar Libro </a>