

<ol>
  <% @books.each do |book|%>
    <li>
      <%= book.titulo %>
			<%= book.autor %>
      <%= link_to "show code", code %>
      <%= link_to "delete", book, :method => :delete, :confirm => "are you sure?" %>
   </li>
  <% end %>
</ol>
<%= link_to "create a book", new_book_path %>
