

<h1>All Books</h1>
<% form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :titulo => nil %>
  </p>
<% end %>
<ol>
	<% if @books %>
		<% @books.each do |book|%>
			<li> 
				<%=book.titulo %>
				<%=book.autor %>
				<a class="btn btn-inverse" href=<%=book_path(book.id)%>> Mostrar </a>
				<a class="btn btn-inverse" href=<%=book_path(book.id)%>> Borrar </a>
				<%= link_to "Borrar", book, :method=> :delete, :confirm=> "Estas Seguro??"%>
				<a class="btn btn-inverse" href=<%=edit_book_path(book.id)%>> Editar </a>
			</li>
		<%end%>
	<%end%>
</ol>

<br />
<a class="btn btn-inverse" href=<%=new_book_path%>> Agregar Libro </a>