

<h1>All Books</h1>
<% form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :titulo => nil %>
  </p>
<% end %>
<ol>
	<% if @books %>
		<% @books.each do |book|%>
			<li> 
				<%=book.titulo %>
				<%=book.autor %>
				<%= link_to "Mostrar", book%>
				<%= link_to "Borrar", book, :method=> :delete, :confirm=> "Estas Seguro??"%>
				<%= link_to "Editar", edit_book_path(book.id)%>
			</li>
		<%end%>
	<%end%>
</ol>

<br />

<%= link_to 'Agregar libro', new_book_path %>