<div class="contenedor">
<h1>All Books</h1><br>
<% form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :titulo => nil %>
  </p>
<% end %>
<ol>
	<% if @books %>
		<% @books.each do |book|%>
			<br><li> 
				<%=book.titulo %>
				<%=book.autor %>
				<a class="btn btn-info" href=<%=book_path(book.id)%>><i class="icon-eye-open icon-black"></i> Mostrar </a>
			</li>
		<%end%>
	<%end%>
</ol>

<br>
<<<<<<< HEAD
<a class="btn btn-primary" href=<%=new_book_path%>> Agregar Libro </a><br>
<br><a class="btn btn-inverse" href=<%=root_url%>><i class="icon-arrow-left icon-white"></i> Atrás </a>
=======
<a class="btn btn-inverse" href=<%=new_book_path%>> Agregar Libro </a>
</div>
>>>>>>> 52d4029d66f801b5ecd7b809bdbba8e1bffd4db3
