<p>
	<p>Dueño: <%= "#{User.find(@book.user_id).username}" %></p>
	<p>Título: <%=@book.titulo%></p>
	<p>Autor: <%=@book.autor%></p>
	<p>Tipo: <%= @book.tipo %></p>
	<p>Edición: <%= @book.edicion %></p>
	<p>Descripción: <%= @book.descripcion %></p>
	<p>Tiempo de préstamo: <%= "#{@book.t_prestamo} #{@book.prestamo ? "Dias" : "Meses" }" %></p>
	<p>Disponible: <%= "#{@book.disponibilidad ? "Si" : "No" }" %></p>
	<% if logged_in? && current_user.id != @book.user_id %>
		<% if @book.disponibilidad %>
			<%= simple_form_for @noti do |f| %>
				<%= "Pedir Prestado?" %>
	  		<%= hidden_field_tag(:description, "Prestamo de Libro") %>
		  	<%= hidden_field_tag(:book_id, @book.id) %>
		  	<%= hidden_field_tag(:receptor, @book.user_id) %>
	  		<%= hidden_field_tag(:tipo, 1) %>
  			<%= f.submit 'Si' %>
			<% end %>
		<% else %>
			<% if current_user == @book.user_pres %>
				<%= simple_form_for @noti do |f| %>
				<%= "Devolver?" %>
	  		<%= hidden_field_tag(:description, "Devolver Libro") %>
		  	<%= hidden_field_tag(:book_id, @book.id) %>
		  	<%= hidden_field_tag(:receptor, @book.user_id) %>
	  		<%= hidden_field_tag(:tipo, 2) %>
  			<%= f.submit 'Si' %>
			<% end %>
			<% end %>
		<% end %>

		<p>
		<%= simple_form_for @review do |f| %>
			<%= "Agregue la primera reseña!" %>
	  	<%= f.input :contenido, :as => :text, :label => false %>
  		<%= hidden_field_tag(:book_id, @book.id) %>
  		<%= f.submit 'Reseñar' %>
		<% end %>
		</p>
	<% end %>
</p>
<%(Review.where book_id: @book.id).sort{|x,y| x.created_at <=> y.created_at}.each do |review|%>
	<ul id="review_list">
		<li><p><h4><%= "#{User.find(review.user_id).username} escribió:" %></h4></p></li>
		<p><h5><%= review.contenido %></h5></p>
	</ul>
<% end %>
