<p>
	Dueño: <%= "#{Book.find(@book.user).username}" %>
	Título: <%=@book.titulo%>
	Autor: <%=@book.autor%>	
	Tipo: <%= @book.tipo %>
	Edición: <%= @book.edicion %>
	Descripción: <%= @book.descripcion %>
	Tiempo de préstamo: <%= @book.t_prestamo %>
	Disponible: <% if @book.disponibilidad %>
								<%= "Si"%>
							<% else %>
								<%= "No" %>
							<% end %>

	<%= simple_form_for @review do |f| %>
		<%= "Agregue la primera reseña!" %>
  	<%= f.input :content, :as => :text %>
  	<%= hidden_field_tag(:book, @book.id) %>
  	<%= f.submit %>
	<% end %>
</p>
<%(Review.where book: @book.id).sort{|x,y| x.created_at <=> y.created_at}.each do |review|%>
	<ul id="review_list">
		<li><p><h4><%= "#{review.user} escribió:" %></h4></p></li>
		<p><h5><%= review.content %></h5></p>
	</ul>
<% end %>
